n8n/workflows/crm-contact-notification-lead-qualification.json
{
  "name": "CRM Contact Notification -> Lead Qualification Dispatch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm/contact-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f4a4cdbd-3d2f-4bb9-92e9-bd4f4b2ff101",
      "name": "CRM Contact Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -420,
        260
      ],
      "webhookId": "crm-contact-notification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.DESIR_CRM_BASE_URL || 'https://desirsolutions.com').replace(/\\/$/, '') + '/api/ai-factory/workflows/lead-qualification/runs'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.DESIR_CRM_API_KEY}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lead_id: Number($json.lead_id) } }}",
        "options": {}
      },
      "id": "903ec3ef-f2d8-4aca-9c7c-c9f0ea0ad102",
      "name": "Create Lead Qualification Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', run_id: $json.id || null, lead_id: $json.lead_id || null, approval_status: $json.approval_status || null } }}",
        "options": {}
      },
      "id": "332e5a8d-11ad-4a2a-852e-ea7f6bdaf103",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        260
      ]
    }
  ],
  "connections": {
    "CRM Contact Notification Webhook": {
      "main": [
        [
          {
            "node": "Create Lead Qualification Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead Qualification Run": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf1c4adb-3d56-4cc6-b31b-b7b040e9a104",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "crm-contact-notification-lead-qualification",
  "tags": []
}
